{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Вхід офіцера</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="register-container">
        <h2>Вхід офіцера</h2>
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="error-messages">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Ім’я користувача:</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>

            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Пароль:</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>

            <button type="submit">Увійти</button>
        </form>

        <div class="login-link">
            Немає акаунта? <a href="{% url 'auth:register' %}">Реєстрація</a>
        </div>
    </div>
</body>
</html>
